<div id="home">
    <div id="cenzor">
        <div class="foto"><img src="assets/images/image2.jpg" alt=""></div>
        <p>Cenzor</p>
        <a [routerLink]="[ '/cenzor']" routerLinkActive="active" class="green">Details</a>
    </div>
    <div id="userList">
        <div class="foto"><img src="assets/images/image1.jpg" alt=""></div>
        <p>UserList</p>
        <a [routerLink]="[ '/user-list']" routerLinkActive="active" class="green">Details</a>
    </div>
    <div id="taskList">
        <div class="foto"><img src="assets/images/image3.jpg" alt=""></div>
        <p>TaskList</p>
        <a [routerLink]="[ '/task-list']" routerLinkActive="active" class="green">Details</a>
    </div>
</div>